*{
    padding: 20;
    margin: 0;
}
.cabecalho {

    width: 100%;
    height: 50px;
    background-color: #7C5E99;
}

body {
    background-color: #9886a9;
}

.menu_inicial a {

    font-size: 18px;
    text-decoration: none;
    font-family: "Montserrat";
    color: white;
    font-weight: 300;

}

.menu_inicial ul{
    
    float: right;
    list-style: none;
    margin-right: 10px;
    padding-right: 10px;
   
}

.menu_inicial li {
    
    float: right;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 20px;

}

button {
    
    margin-top: 40px;
    width: 140px;
    height: 30px;
    background-color: #7C5E99;
    font-family: "Montserrat";
    color: white;
    font-weight: 300;
    font-size: 14px;
    border-style:double;
}

h1 {
    font-family: "Montserrat";
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#logo { 
    
    width: 700px;
    height:200px:

}

h2{
    font-family: "Montserrat";
    color: white;
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

h3{
    font-family: "Montserrat";
    color: white;
    font-weight: 400;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#left {
    
    width: 140px;
    height: 30px;
    font-family: "Montserrat";
    color: white;
    font-weight: 500;
    font-size: 20px;
    
}

#right {
    padding: 80px;
    width: 140px;
    height: 30px;
    font-family: "Montserrat";
    color: white;
    font-weight: 300;
    font-size: 16px;
    
}

form {
    padding: 0;
    width: 300px;
}